@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    line-height: 1.5;
    padding: 2em;
    font-size: 4vmin;
    font-weight: 800;
}

h1 {
    font-size: 5vmin;
}